.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 40px 50px;
}

.pokemon-list__nomatch {
  font-size: 1.4rem;
}

.pokemon-card {
  width: 230px;
  height: 300px;
  margin: 15px 15px;
  background-color: rgba(250, 244, 252, 0.7);
  border-radius: 15px;
  cursor: pointer;
  padding: 15px 5px;
}

.pokemon-card h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}

.pokemon-card p {
  font-size: 18px;
  margin: 10px 0 15px;
}

.pokemon-card img {
  margin-bottom: 5px;
}

.pokemon-card__badges {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.pokemon-card__badge {
  margin: 0 5px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
