.type-container {
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.type-button {
  height: 50px;
  width: 100px;
  border: none;
  margin: 0 5px 15px;
  cursor: pointer;
}

.type-button__img {
  height: 100%;
}

.type-button__img:not(:hover) {
  filter: grayscale(100%);
}
