.chart-bar {
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.chart-bar__fill {
  background-color: rgb(144, 81, 187);
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-right: 15px;
  width: 70px;
}

@media (max-width: 768px) {
  .chart-bar {
    margin: 7px 0;
  }

  .chart-bar__inner {
    background-color: rgba(144, 81, 187, 0.2);
  }
}
