.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  background-image: url('../../assets/modalmobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
  max-width: 90vw;
  background-color: white;
  margin: 50px;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media (min-width: 600px) {
  .modal {
    width: 60rem;
    background-image: url('../../assets/modaltablet.png');
  }
}

@media (min-width: 1400px) {
  .modal {
    background-image: url('../../assets/modaldesktop.png');
    background-position: initial;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
